{
  "plugins": ["prettier-plugin-svelte"],
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "trailingComma": "all",
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
